<footer class="footer">
    <div class="copyright" style="font-size: 12px; font-weight: 300;">
        <div class="container">
            <div class="row">
                <div class="col-xx-12">
                </div>
            </div>
        </div>
    </div>
</footer>
