<header class="header" data-spy="affix" data-offset-top="1">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-xx-12">
                    <a class="header-logo" href="{{ path('aluno') }}">
                        <img class="img-responsive" src="{{ asset("arquivos/logo.png") }}" alt="Vale do Lupulo">
                    </a>
                    <nav class="header-menu tab-nav ui-tab-tab">
                        <ul class="nav nav-list">
                            <li class="first">
                                <a href="https://www.facebook.com/valedolupulo/" class="waves-attach waves-dark waves-effect" target="blank">
                                    Facebook
                                </a>
                            </li>
                            <li class="last">
                                <a href="https://www.facebook.com/Concurso-Cerveja-Caseira-2017-Vale-do-L%C3%BApulo-2046232302269983/" class="waves-attach waves-dark waves-effect" target="blank">
                                    Concurso Cerveja Caseira 2017
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
